.title-style{
    text-align: center;
    color: #478eda;
    font-family: Cambria, serif;
    max-width: 50%;
    margin: 40px auto;
    font-size: 35px;
    background-color: beige;
    border-radius: 30px;
    box-shadow: 0 0 20px #8f2727;
}

.bg-style{
    position: fixed;
    background: linear-gradient(to bottom right, #daffb4, #fff9ed);
    width: 100vw;
    height: 100vh;
    z-index:-2022;
    top:0;
    left:0;
}

.download-rank-style{

}

.compare-style{
    display: grid;
    grid-template-columns: 50% 50%;
}

.bar-style{
    width: 80%;
    margin: 40px auto;
    margin-top: 10px;

    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 0 20px #ffd7c8;

    padding: 20px;
    background-color: white;
}

.content-rating-radio-style{
    padding: 10px 50px;

    margin:auto auto;
    margin-top: 40px;

    text-align: center;
}

.pie-style{
    width: 60%;
    margin: 40px auto;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 0 20px #ffd7c8;
    padding: 20px;
    background-color: white;
}

.pie-title-style{
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
}

.scatter-style{
    padding: 30px;
    border-radius: 30px;
    background-color: white;
    width: 60%;
    margin: auto;
    margin-bottom: 150px;
}